
<div class="row mt-3">
    <div class="col-sm-5">
     <div class="row">
       <div class="col-xs-12" *ngFor="let item of members; let i = index">
         <ul class="list-group">
           <!-- array goes in btw the li  -->
            <li class="list-group-item">{{i + 1 + '. ' + item.name}} - {{item.description}}<Span><Button class="btn-btn-danger"
              (click)="onDeleteMember(item)"
              >X</Button></Span></li>

         </ul>


       </div>
     </div>

      </div>
      <div class="col-sm-7">
      <form [formGroup]= "memberForm" (ngSubmit)="onSubmit()" >
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </div>

           <div class="row">
             <div class="col-xs-12">
               <div class="form-group">

                  <label for="name">Name</label>
                  <input
                  class="form-control"
                  type="text"
                  formControlName="name">

                 </div>

             </div>
           </div>


            <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">

                     <label for="name">Detail</label>
                     <textarea
                     class="form-control"
                     id="detail"
                     rows="6"
                     formControlName="description">

                    </textarea>



                  </div>



                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button
                  type="button"
                  class="btn btn-info"
                  >Add</button>
                </div>
              </div>



      </form>
      </div>

</div>
