
<div class="row mt-3">
    <div class="col-sm-5">
     <div class="row">
       <div class="col-xs-12">
         <ul class="list-group">
           <!-- array goes in btw the li  -->
            <li class="list-group-item"> <Span><Button class="btn-btn-danger">X</Button></Span></li>

         </ul>


       </div>
     </div>

      </div>
      <div class="col-sm-7">
      <form>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </div>

           <div class="row">
             <div class="col-xs-12">
               <div class="form-group">

                  <label for="name">Name</label>
                  <input class="form-control" type="text">

                 </div>

             </div>
           </div>


            <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">

                     <label for="name">Detail</label>
                     <textarea class="form-control" id="detail"
                     rows="6">

                    </textarea>



                  </div>



                </div>
              </div>
              <button type="button" class="btn btn-info">Add</button>


      </form>
      </div>

</div>
